
#canvas {
    border: 1px solid grey;
    ;
}
body {
    margin: 0px;
    background: #000000;
}
h1 {
    color: blanchedalmond;
    position: relative;
    bottom: 135px;
}
button {
    visibility: visible;
    position: relative;
    font-size: 30px;
    font-weight: 700;
    color: #6b0a79;
    background: #ffe4c400;
    border: 0px;
    bottom: 162px;
}